<?xml version="1.0" encoding="utf-8"?>
<Content Key="83cf46b7-43e4-4ed6-b7e4-09e7f4035421" Alias="2025-11-12 14:07 - Sanna" Level="2">
  <Info>
    <Parent Key="9f2a5be5-57da-4cc1-8ff3-b7a3af3417aa">Form Submissions</Parent>
    <Path>/FormSubmissions/Sanna</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T14:07:01</CreateDate>
    <NodeName Default="2025-11-12 14:07 - Sanna" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[sanna@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Sanna]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0733298123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>