<?xml version="1.0" encoding="utf-8"?>
<Content Key="27c04c7c-7172-4e05-8120-1f4b586c8771" Alias="About" Level="2">
  <Info>
    <Parent Key="289d57ae-8d2f-4dd1-b364-9535d7f545a5">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-24T16:08:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7fc7116-e92f-4339-8d37-7cdae1fa227d">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f01d295b-1d7d-4f17-9c37-228306d34439",
      "key": "c86dca2d-7b20-48c6-97c5-488095d0f77d",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "0edada69-155d-44ee-9e26-98eade26bb2c",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ef6e8f48-1407-44c0-a1fe-5dedefae9a53",
                        "mediaKey": "8c849076-58e0-4026-bd3b-337dcae1252f",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "820b05a6-d77c-4b58-9c66-5a787a2819f5",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9a7452ff-bceb-4889-880f-2272af666194",
                        "mediaKey": "34588de5-a868-42e3-b4e5-5c5ca41c4e12",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "86d5f232-f785-4e6a-b5f2-0b897cfc6d6f",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bd795e5c-eb75-4c3b-b5c4-a0738b4ba866",
                        "mediaKey": "6816f2f7-9478-487f-87f8-93a48bb1c359",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "7f000067-9890-435b-bd47-498467b4f75d",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "637b06b4-9087-4785-a00f-dabd92225cce",
                        "mediaKey": "a8d09c7c-f62a-46b6-9c0c-1e01f02360c9",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "d76c3866-22a8-4f50-adef-2e84a1ec6944",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "fc6883bd-f2a7-456c-9e76-66615b10b8b5",
                        "mediaKey": "0bb6bd28-c9ef-41e1-b6d7-21f5f3faa907",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "522fa5dd-2888-4770-9a34-40357ad40870",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5bf8e1ce-e367-4d3f-8a3b-4bdf81d5e416",
                        "mediaKey": "04189353-27ce-4195-9da9-9b4e078eaa12",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "e823d7d3-037e-4813-b7b3-efea4383a391",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b588d083-4343-4de6-8d12-110ddbd65d19",
                        "mediaKey": "a210b26f-42fb-4f51-8312-e78978e23b00",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0edada69-155d-44ee-9e26-98eade26bb2c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "820b05a6-d77c-4b58-9c66-5a787a2819f5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "86d5f232-f785-4e6a-b5f2-0b897cfc6d6f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7f000067-9890-435b-bd47-498467b4f75d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d76c3866-22a8-4f50-adef-2e84a1ec6944",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "522fa5dd-2888-4770-9a34-40357ad40870",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e823d7d3-037e-4813-b7b3-efea4383a391",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0edada69-155d-44ee-9e26-98eade26bb2c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "820b05a6-d77c-4b58-9c66-5a787a2819f5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "86d5f232-f785-4e6a-b5f2-0b897cfc6d6f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7f000067-9890-435b-bd47-498467b4f75d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d76c3866-22a8-4f50-adef-2e84a1ec6944",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "522fa5dd-2888-4770-9a34-40357ad40870",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e823d7d3-037e-4813-b7b3-efea4383a391",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c86dca2d-7b20-48c6-97c5-488095d0f77d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c86dca2d-7b20-48c6-97c5-488095d0f77d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>