<?xml version="1.0" encoding="utf-8"?>
<Content Key="27c04c7c-7172-4e05-8120-1f4b586c8771" Alias="About" Level="2">
  <Info>
    <Parent Key="289d57ae-8d2f-4dd1-b364-9535d7f545a5">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-24T16:08:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7fc7116-e92f-4339-8d37-7cdae1fa227d">AboutPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f01d295b-1d7d-4f17-9c37-228306d34439",
      "key": "c86dca2d-7b20-48c6-97c5-488095d0f77d",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "0edada69-155d-44ee-9e26-98eade26bb2c",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "51d712f5-705d-41c9-a4de-37158dc44175",
                        "mediaKey": "c526a425-fa64-4c3d-80f7-962b062a2688",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "820b05a6-d77c-4b58-9c66-5a787a2819f5",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6d0be603-48f7-408c-9911-e44c5e35f76f",
                        "mediaKey": "f515c2d2-45ee-4506-ab66-0b37a85452ad",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "86d5f232-f785-4e6a-b5f2-0b897cfc6d6f",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5db5cb1d-67c1-459d-b02d-42f407dc3f12",
                        "mediaKey": "1ae95be8-015c-48d2-bfdc-911f2b42104e",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "7f000067-9890-435b-bd47-498467b4f75d",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3cf6c580-15d9-4c54-a6ba-d20c130344c1",
                        "mediaKey": "e5a1ac67-02d4-46ad-8166-6c14f56a111c",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "d76c3866-22a8-4f50-adef-2e84a1ec6944",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6dde58e4-4c7c-4508-8a69-f57b6d509f79",
                        "mediaKey": "5388e25e-ac28-497a-85a4-7be2017bfd03",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "522fa5dd-2888-4770-9a34-40357ad40870",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a2de25c0-5a37-4dcb-9706-252e33cc6186",
                        "mediaKey": "e96d306d-c53a-4afd-8c58-ca8c83390413",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "e823d7d3-037e-4813-b7b3-efea4383a391",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9bc4b593-a973-4c0a-b5b9-510e73f9e1a6",
                        "mediaKey": "886048aa-4776-46a1-85df-e3e135757d70",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0edada69-155d-44ee-9e26-98eade26bb2c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "820b05a6-d77c-4b58-9c66-5a787a2819f5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "86d5f232-f785-4e6a-b5f2-0b897cfc6d6f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7f000067-9890-435b-bd47-498467b4f75d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d76c3866-22a8-4f50-adef-2e84a1ec6944",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "522fa5dd-2888-4770-9a34-40357ad40870",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e823d7d3-037e-4813-b7b3-efea4383a391",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0edada69-155d-44ee-9e26-98eade26bb2c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "820b05a6-d77c-4b58-9c66-5a787a2819f5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "86d5f232-f785-4e6a-b5f2-0b897cfc6d6f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7f000067-9890-435b-bd47-498467b4f75d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d76c3866-22a8-4f50-adef-2e84a1ec6944",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "522fa5dd-2888-4770-9a34-40357ad40870",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e823d7d3-037e-4813-b7b3-efea4383a391",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c86dca2d-7b20-48c6-97c5-488095d0f77d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c86dca2d-7b20-48c6-97c5-488095d0f77d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>