<?xml version="1.0" encoding="utf-8"?>
<Content Key="27c04c7c-7172-4e05-8120-1f4b586c8771" Alias="About" Level="2">
  <Info>
    <Parent Key="289d57ae-8d2f-4dd1-b364-9535d7f545a5">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-24T16:08:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7fc7116-e92f-4339-8d37-7cdae1fa227d">AboutPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f01d295b-1d7d-4f17-9c37-228306d34439",
      "key": "c86dca2d-7b20-48c6-97c5-488095d0f77d",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "0edada69-155d-44ee-9e26-98eade26bb2c",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ec8f7acd-9410-4ef6-98b9-78643e2d2eb0",
                        "mediaKey": "5b567125-852f-4b12-b45b-f192723ca4bf",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "820b05a6-d77c-4b58-9c66-5a787a2819f5",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ef143b43-54b7-40ee-8ca3-ec7969d408fe",
                        "mediaKey": "bb0c6206-a40a-44c1-ba8a-41fd01d7fb24",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "86d5f232-f785-4e6a-b5f2-0b897cfc6d6f",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "66cae5e0-28da-41ba-96e8-d1bf3b8c733b",
                        "mediaKey": "4d524581-9b79-400c-a60f-3cc7fcbe7ca8",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "7f000067-9890-435b-bd47-498467b4f75d",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3cf75ac3-31d9-4fe3-a7b5-91d8bd992e62",
                        "mediaKey": "1da9d9ba-6eee-4e64-90bd-bb1070a6c687",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "d76c3866-22a8-4f50-adef-2e84a1ec6944",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "48340f60-4d82-4272-a6fe-e33f4b746b33",
                        "mediaKey": "3fa8ae0c-37c7-4fda-b215-6b646f6839b1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "522fa5dd-2888-4770-9a34-40357ad40870",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0a50c43d-7487-4bb8-b609-0648b8e7bce7",
                        "mediaKey": "ea70de0b-b322-49c9-8f06-52ebe0029bb1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
                "key": "e823d7d3-037e-4813-b7b3-efea4383a391",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6739b88d-f989-41e7-839a-1b2a4ff6e891",
                        "mediaKey": "5475f254-207b-472c-beff-3bd787812686",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0edada69-155d-44ee-9e26-98eade26bb2c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "820b05a6-d77c-4b58-9c66-5a787a2819f5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "86d5f232-f785-4e6a-b5f2-0b897cfc6d6f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7f000067-9890-435b-bd47-498467b4f75d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d76c3866-22a8-4f50-adef-2e84a1ec6944",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "522fa5dd-2888-4770-9a34-40357ad40870",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e823d7d3-037e-4813-b7b3-efea4383a391",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0edada69-155d-44ee-9e26-98eade26bb2c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "820b05a6-d77c-4b58-9c66-5a787a2819f5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "86d5f232-f785-4e6a-b5f2-0b897cfc6d6f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7f000067-9890-435b-bd47-498467b4f75d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d76c3866-22a8-4f50-adef-2e84a1ec6944",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "522fa5dd-2888-4770-9a34-40357ad40870",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e823d7d3-037e-4813-b7b3-efea4383a391",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c86dca2d-7b20-48c6-97c5-488095d0f77d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c86dca2d-7b20-48c6-97c5-488095d0f77d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>