<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7f37399-f999-4869-8bd9-6a129145cdce" Alias="Contact" Level="2">
  <Info>
    <Parent Key="289d57ae-8d2f-4dd1-b364-9535d7f545a5">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T12:36:56</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7995a694-6561-4460-9450-8eecab521360">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "41a65447-5447-4834-8491-fbd19cb38329",
      "key": "7a3ade89-38d6-449d-b3b5-4df81cea7360",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "bgImage1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "96a864c5-24ac-4f70-a194-a9d804638be0",
              "mediaKey": "ed1a0faf-c2fa-4105-ae9c-81212cd86c91",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "bgImage2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "eee409ce-8d43-4544-98b1-c3155bd2fa7e",
              "mediaKey": "f6711221-3703-4bc8-a069-d48fc7f1327e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "426fdc63-8349-4fd7-8b28-2f37752de87f",
      "key": "34195eb4-b19f-4d6d-9e72-d7e28b3460ff",
      "udi": null,
      "values": [
        {
          "alias": "contactBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7a3ade89-38d6-449d-b3b5-4df81cea7360",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7a3ade89-38d6-449d-b3b5-4df81cea7360",
        "contentUdi": null,
        "settingsKey": "34195eb4-b19f-4d6d-9e72-d7e28b3460ff",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>