<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7f37399-f999-4869-8bd9-6a129145cdce" Alias="Contact" Level="2">
  <Info>
    <Parent Key="289d57ae-8d2f-4dd1-b364-9535d7f545a5">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T12:36:56</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7995a694-6561-4460-9450-8eecab521360">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </bannerTitle>
  </Properties>
</Content>