<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb711f3b-a20e-4b08-9102-3ff171fa2031" Alias="Contact" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Contact</Path>
    <Trashed Parent="289d57ae-8d2f-4dd1-b364-9535d7f545a5">true</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T12:26:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7995a694-6561-4460-9450-8eecab521360">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </bannerTitle>
  </Properties>
</Content>