<?xml version="1.0" encoding="utf-8"?>
<Content Key="663933f4-5d87-4791-a1b0-8754d3aa91d9" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="7c411deb-4a47-49d0-b680-4cb6b1632162">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T08:42:51</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ef30662-3cd7-49ae-b89c-74245f4311e4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8f90ffb-d53d-473e-bc06-ddd21ec15500",
      "key": "5975bb62-85cd-43bb-9e5b-06fca35c9daf",
      "udi": null,
      "values": [
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e86cc146-1dc9-4344-93e2-0842be820419",
              "mediaKey": "3164ba8b-8e33-4001-879e-a5bad40a1c75",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5975bb62-85cd-43bb-9e5b-06fca35c9daf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5975bb62-85cd-43bb-9e5b-06fca35c9daf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcpert>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcpert>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "49d6fd64-cf2e-41ad-a6c7-5f8cb08873a0",
    "mediaKey": "d3a8bef8-8188-4f41-93ec-cd9ae7448d52",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>