<?xml version="1.0" encoding="utf-8"?>
<Content Key="289d57ae-8d2f-4dd1-b364-9535d7f545a5" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-24T11:30:15</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fda5f8f-6edc-494b-87c9-0cd2e1646f26">HomePage</Template>
  </Info>
  <Properties>
    <heroBgImage>
      <Value><![CDATA[[
  {
    "key": "f5719e81-5a88-4d8f-88d2-4ea38ad6f0ee",
    "mediaKey": "1f6e560d-6c7f-4b37-8805-cac6a9243e58",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBgImage>
    <heroLink>
      <Value><![CDATA[[
  {
    "name": "Contact us",
    "target": null,
    "udi": "umb://document/e7f37399f99948698bd96a129145cdce",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </heroLink>
    <heroText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
  </Properties>
</Content>