<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a507745-ba03-41a9-b304-31b4fd693c15" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="7c411deb-4a47-49d0-b680-4cb6b1632162">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T08:45:05</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ef30662-3cd7-49ae-b89c-74245f4311e4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8f90ffb-d53d-473e-bc06-ddd21ec15500",
      "key": "48968af1-c801-4f23-9fed-0180fc3db9d2",
      "udi": null,
      "values": [
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "540e47dc-24f4-4c00-9b68-d43f1d8aa31c",
              "mediaKey": "3164ba8b-8e33-4001-879e-a5bad40a1c75",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "48968af1-c801-4f23-9fed-0180fc3db9d2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "48968af1-c801-4f23-9fed-0180fc3db9d2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcpert>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcpert>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "720750a3-b7fc-41de-a431-84f107c0a120",
    "mediaKey": "fbe8c060-8bbf-4392-bb1d-6bfea494ddc7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>