<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c411deb-4a47-49d0-b680-4cb6b1632162" Alias="Services" Level="2">
  <Info>
    <Parent Key="289d57ae-8d2f-4dd1-b364-9535d7f545a5">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-24T14:41:40</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="56ceda75-85c6-443d-9ebc-8aab9bd5642b">ServicePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "36292333-60c6-406d-a0be-efe50cd10a2f",
      "key": "29631f87-c8ca-4159-b04f-dc9aea580223",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e0e31623-146b-430f-90e2-972c6e80bba5",
      "key": "3260b7e6-fc77-4702-82b8-7fd7bb912115",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "29631f87-c8ca-4159-b04f-dc9aea580223",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "29631f87-c8ca-4159-b04f-dc9aea580223",
        "contentUdi": null,
        "settingsKey": "3260b7e6-fc77-4702-82b8-7fd7bb912115",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>