<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c411deb-4a47-49d0-b680-4cb6b1632162" Alias="Services" Level="2">
  <Info>
    <Parent Key="289d57ae-8d2f-4dd1-b364-9535d7f545a5">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-24T14:41:40</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="56ceda75-85c6-443d-9ebc-8aab9bd5642b">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "36292333-60c6-406d-a0be-efe50cd10a2f",
      "key": "29631f87-c8ca-4159-b04f-dc9aea580223",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "41a65447-5447-4834-8491-fbd19cb38329",
      "key": "43d3d4ce-3ca7-4b6d-bb75-aeed7deb3b04",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "bgImage1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9ecf4553-120a-47f6-b43e-6b85e1cf229d",
              "mediaKey": "ed1a0faf-c2fa-4105-ae9c-81212cd86c91",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "bgImage2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2d4f7dd6-1f13-40e2-912e-8d5264d76069",
              "mediaKey": "f6711221-3703-4bc8-a069-d48fc7f1327e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e0e31623-146b-430f-90e2-972c6e80bba5",
      "key": "3260b7e6-fc77-4702-82b8-7fd7bb912115",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "426fdc63-8349-4fd7-8b28-2f37752de87f",
      "key": "22046f9d-d781-40b0-9a11-0db5ab3bfbf1",
      "udi": null,
      "values": [
        {
          "alias": "contactBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "29631f87-c8ca-4159-b04f-dc9aea580223",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "43d3d4ce-3ca7-4b6d-bb75-aeed7deb3b04",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "29631f87-c8ca-4159-b04f-dc9aea580223",
        "contentUdi": null,
        "settingsKey": "3260b7e6-fc77-4702-82b8-7fd7bb912115",
        "settingsUdi": null
      },
      {
        "contentKey": "43d3d4ce-3ca7-4b6d-bb75-aeed7deb3b04",
        "contentUdi": null,
        "settingsKey": "22046f9d-d781-40b0-9a11-0db5ab3bfbf1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>