<?xml version="1.0" encoding="utf-8"?>
<Content Key="86695fec-e90e-43c6-b9fb-ad2fb265b38d" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="7c411deb-4a47-49d0-b680-4cb6b1632162">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T08:43:29</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ef30662-3cd7-49ae-b89c-74245f4311e4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8f90ffb-d53d-473e-bc06-ddd21ec15500",
      "key": "7c873ba6-cd63-4654-93ae-aed6e5bf4666",
      "udi": null,
      "values": [
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "75923898-d54f-490a-8edc-9ff3746c8084",
              "mediaKey": "3164ba8b-8e33-4001-879e-a5bad40a1c75",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7c873ba6-cd63-4654-93ae-aed6e5bf4666",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7c873ba6-cd63-4654-93ae-aed6e5bf4666",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcpert>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcpert>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "fa29e25c-138b-4fc4-a582-f752197cf2fe",
    "mediaKey": "12ab396b-ae87-4792-8d5b-17d9a5edde48",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>