<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d524581-9b79-400c-a60f-3cc7fcbe7ca8" Alias="Aaron.svg" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:23</CreateDate>
    <NodeName Default="Aaron.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/op2pbl1c/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>