<?xml version="1.0" encoding="utf-8"?>
<Media Key="785e9b51-b30e-4013-b999-024650637598" Alias="Aaron.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T08:52:31</CreateDate>
    <NodeName Default="Aaron.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/umtpzgqv/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>