<?xml version="1.0" encoding="utf-8"?>
<Media Key="6816f2f7-9478-487f-87f8-93a48bb1c359" Alias="Aaron.svg (2)" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Aaronsvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:21:36</CreateDate>
    <NodeName Default="Aaron.svg (2)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/avhljctd/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>