<?xml version="1.0" encoding="utf-8"?>
<Media Key="3164ba8b-8e33-4001-879e-a5bad40a1c75" Alias="About.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aboutsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T09:19:58</CreateDate>
    <NodeName Default="About.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pednnuzi/about.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>