<?xml version="1.0" encoding="utf-8"?>
<Media Key="34588de5-a868-42e3-b4e5-5c5ca41c4e12" Alias="Aj.svg (2)" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Ajsvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:21:21</CreateDate>
    <NodeName Default="Aj.svg (2)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c2ypvvtt/aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>