<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb0c6206-a40a-44c1-ba8a-41fd01d7fb24" Alias="Aj.svg" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Ajsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:22</CreateDate>
    <NodeName Default="Aj.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4tpl2wir/aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>