<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb0c6206-a40a-44c1-ba8a-41fd01d7fb24" Alias="Aj.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Ajsvg</Path>
    <Trashed Parent="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:22</CreateDate>
    <NodeName Default="Aj.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4tpl2wir/aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>