<?xml version="1.0" encoding="utf-8"?>
<Media Key="51383a2f-d45d-4148-9200-3df416fcc0cb" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="e30d7fe6-f452-4174-87d2-b303f26f7693">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:38:24</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1wdjvm0g/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>