<?xml version="1.0" encoding="utf-8"?>
<Media Key="a292b43a-8905-4ca6-ace0-7f2f0def9fb9" Alias="Bonds-Commodities.svg" Level="2">
  <Info>
    <Parent Key="e30d7fe6-f452-4174-87d2-b303f26f7693">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:38:24</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zaedaqa4/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>