<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b567125-852f-4b12-b45b-f192723ca4bf" Alias="Brandon.svg" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:22</CreateDate>
    <NodeName Default="Brandon.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/05gpjoju/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>