<?xml version="1.0" encoding="utf-8"?>
<Media Key="e82ce698-9eba-41a4-af4b-741e7a138913" Alias="Brand.svg (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:19:56</CreateDate>
    <NodeName Default="Brand.svg (3)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/njnj2cvb/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>