<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fa8ae0c-37c7-4fda-b215-6b646f6839b1" Alias="BrandonK.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BrandonKsvg</Path>
    <Trashed Parent="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:22</CreateDate>
    <NodeName Default="BrandonK.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5yjbvxo2/brandonk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>