<?xml version="1.0" encoding="utf-8"?>
<Media Key="c526a425-fa64-4c3d-80f7-962b062a2688" Alias="Brandon.svg (1)" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Brandonsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T08:51:56</CreateDate>
    <NodeName Default="Brandon.svg (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/02mjij15/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>