<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a9cfe52-4b59-4b5b-8dc6-d847bd5615f5" Alias="Brand.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Brandsvg1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T09:34:12</CreateDate>
    <NodeName Default="Brand.svg (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ubbd24cc/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>