<?xml version="1.0" encoding="utf-8"?>
<Media Key="79c77719-11ed-4aff-aec4-2de51c874e76" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:33:28</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3pfglg5w/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>