<?xml version="1.0" encoding="utf-8"?>
<Media Key="5388e25e-ac28-497a-85a4-7be2017bfd03" Alias="BrandonK.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BrandonKsvg1</Path>
    <Trashed Parent="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T08:53:08</CreateDate>
    <NodeName Default="BrandonK.svg (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vrpdvmjt/brandonk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>