<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bb6bd28-c9ef-41e1-b6d7-21f5f3faa907" Alias="BrandonK.svg (2)" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/BrandonKsvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:22:11</CreateDate>
    <NodeName Default="BrandonK.svg (2)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1iabj0pu/brandonk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>