<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed1a0faf-c2fa-4105-ae9c-81212cd86c91" Alias="Contact-bg1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactBg1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:48:12</CreateDate>
    <NodeName Default="Contact-bg1.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwzlqd5b/contact-bg1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>