<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6711221-3703-4bc8-a069-d48fc7f1327e" Alias="Contact-bg2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactBg2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:48:22</CreateDate>
    <NodeName Default="Contact-bg2.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0oxngfay/contact-bg2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>