<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f6e560d-6c7f-4b37-8805-cac6a9243e58" Alias="Home-Hero.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/HomeHerosvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T11:29:53</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/55vnz5le/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>