<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6010faf-dcf0-4983-91d1-dd2c5e9a5c30" Alias="Image-Services.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImageServicessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T13:44:56</CreateDate>
    <NodeName Default="Image-Services.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwzkgjhl/image-services.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>