<?xml version="1.0" encoding="utf-8"?>
<Media Key="5475f254-207b-472c-beff-3bd787812686" Alias="Kevin.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Kevinsvg</Path>
    <Trashed Parent="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:23</CreateDate>
    <NodeName Default="Kevin.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uzhnpnta/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>