<?xml version="1.0" encoding="utf-8"?>
<Media Key="5475f254-207b-472c-beff-3bd787812686" Alias="Kevin.svg" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Kevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:23</CreateDate>
    <NodeName Default="Kevin.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uzhnpnta/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>