<?xml version="1.0" encoding="utf-8"?>
<Media Key="886048aa-4776-46a1-85df-e3e135757d70" Alias="Kevin.svg (1)" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Kevinsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T08:54:25</CreateDate>
    <NodeName Default="Kevin.svg (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ld0ne0tn/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>