<?xml version="1.0" encoding="utf-8"?>
<Media Key="a210b26f-42fb-4f51-8312-e78978e23b00" Alias="Kevin.svg (2)" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Kevinsvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:22:42</CreateDate>
    <NodeName Default="Kevin.svg (2)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tuhleqha/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>