<?xml version="1.0" encoding="utf-8"?>
<Media Key="e96d306d-c53a-4afd-8c58-ca8c83390413" Alias="Miranda.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Mirandasvg1</Path>
    <Trashed Parent="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T08:54:40</CreateDate>
    <NodeName Default="Miranda.svg (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t4gn4czb/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>