<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea70de0b-b322-49c9-8f06-52ebe0029bb1" Alias="Miranda.svg" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:22</CreateDate>
    <NodeName Default="Miranda.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5frnecbz/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>