<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f4ec1f0-36a5-444c-b48b-5ce14774afab" Alias="new folder name" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/newFolderName</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T08:33:33</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties />
</Media>