<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f4ec1f0-36a5-444c-b48b-5ce14774afab" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T08:33:33</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>