<?xml version="1.0" encoding="utf-8"?>
<Media Key="08eb3cf2-d514-49ff-b8c8-d410cb157727" Alias="Partner Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-15T10:17:07</CreateDate>
    <NodeName Default="Partner Logos" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties />
</Media>