<?xml version="1.0" encoding="utf-8"?>
<Media Key="576aa135-c2c8-468a-a03c-9c4b442e10f0" Alias="PartnerLogo5.svg" Level="2">
  <Info>
    <Parent Key="08eb3cf2-d514-49ff-b8c8-d410cb157727">Partner Logos</Parent>
    <Path>/PartnerLogos/PartnerLogo5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T10:17:55</CreateDate>
    <NodeName Default="PartnerLogo5.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y2omrnot/partnerlogo5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>