<?xml version="1.0" encoding="utf-8"?>
<Media Key="f18e0810-4790-4375-b87c-b44d1d80f031" Alias="PartnerLogo1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerLogo1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T10:15:03</CreateDate>
    <NodeName Default="PartnerLogo1.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2k0dye2l/partnerlogo1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>