<?xml version="1.0" encoding="utf-8"?>
<Media Key="236f3395-1c59-437a-bfdd-8f5cfe0a482e" Alias="PartnerLogo2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerLogo2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T10:16:41</CreateDate>
    <NodeName Default="PartnerLogo2.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m4hm1qkc/partnerlogo2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>