<?xml version="1.0" encoding="utf-8"?>
<Media Key="10ed1645-f047-4bd0-8435-413741da3519" Alias="PartnerLogo2.svg" Level="2">
  <Info>
    <Parent Key="08eb3cf2-d514-49ff-b8c8-d410cb157727">Partner Logos</Parent>
    <Path>/PartnerLogos/PartnerLogo2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T10:18:50</CreateDate>
    <NodeName Default="PartnerLogo2.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w4vf52s2/partnerlogo2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>