<?xml version="1.0" encoding="utf-8"?>
<Media Key="5635e015-85d9-4291-802a-01cec6ece043" Alias="PartnerLogo1.svg" Level="2">
  <Info>
    <Parent Key="08eb3cf2-d514-49ff-b8c8-d410cb157727">Partner Logos</Parent>
    <Path>/PartnerLogos/PartnerLogo1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T10:18:37</CreateDate>
    <NodeName Default="PartnerLogo1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/23ojpngc/partnerlogo1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>