<?xml version="1.0" encoding="utf-8"?>
<Media Key="b947bef4-14e9-47ca-ba13-19c9e83ec01d" Alias="PartnerLogo4.svg" Level="2">
  <Info>
    <Parent Key="08eb3cf2-d514-49ff-b8c8-d410cb157727">Partner Logos</Parent>
    <Path>/PartnerLogos/PartnerLogo4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T10:17:40</CreateDate>
    <NodeName Default="PartnerLogo4.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aybpkw5s/partnerlogo4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>