<?xml version="1.0" encoding="utf-8"?>
<Media Key="45d6572e-95ac-4f8d-b700-4cc8b8ebd6ea" Alias="PartnerLogo3.svg" Level="2">
  <Info>
    <Parent Key="08eb3cf2-d514-49ff-b8c8-d410cb157727">Partner Logos</Parent>
    <Path>/PartnerLogos/PartnerLogo3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T10:17:29</CreateDate>
    <NodeName Default="PartnerLogo3.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1tvhjj3x/partnerlogo3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>