<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbe8c060-8bbf-4392-bb1d-6bfea494ddc7" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="e30d7fe6-f452-4174-87d2-b303f26f7693">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:38:25</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sj4fugne/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>