<?xml version="1.0" encoding="utf-8"?>
<Media Key="e30d7fe6-f452-4174-87d2-b303f26f7693" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T08:34:24</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>