<?xml version="1.0" encoding="utf-8"?>
<Media Key="16f234ad-7e00-4652-9a9e-205692f99f8e" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:04:50</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l4efb3a1/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>