<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f9c42f2-9563-4756-8d36-fe5b61a57168" Alias="sl-home2.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T13:04:03</CreateDate>
    <NodeName Default="sl-home2.svg (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ad5d3ply/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>