<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2b38ab3-0be3-479e-8a7d-cf0382b6c624" Alias="sl-home2.svg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:19:32</CreateDate>
    <NodeName Default="sl-home2.svg (2)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ie1bcahy/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>