<?xml version="1.0" encoding="utf-8"?>
<Media Key="b738c81b-e8e5-46dd-b558-031a610373b4" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T09:33:10</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3f0juvp4/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>