<?xml version="1.0" encoding="utf-8"?>
<Media Key="02b45367-f2ad-48bc-955f-7d96453fffac" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="e30d7fe6-f452-4174-87d2-b303f26f7693">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:38:24</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sxxbnyfw/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>