<?xml version="1.0" encoding="utf-8"?>
<Media Key="03a60387-dad2-4b6b-b312-4c6fb3a9ad59" Alias="Story-Bg2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StoryBg2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T15:50:49</CreateDate>
    <NodeName Default="Story-Bg2.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ow5ajyoj/story-bg2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>