<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c14528f-7c58-4580-b6c2-4ad7e303c39f" Alias="Story-Bg1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StoryBg1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T15:50:36</CreateDate>
    <NodeName Default="Story-Bg1.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pxxlm5sd/story-bg1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>