<?xml version="1.0" encoding="utf-8"?>
<Media Key="35832ad3-73b3-4709-a9bb-a9a2dcc3a724" Alias="SuccessBg1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessBg1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T09:47:13</CreateDate>
    <NodeName Default="SuccessBg1.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eglddv3i/successbg1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>