<?xml version="1.0" encoding="utf-8"?>
<Media Key="155f5322-348d-4d5e-906a-0fc2987d8403" Alias="SuccessBg2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessBg2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T09:47:23</CreateDate>
    <NodeName Default="SuccessBg2.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0dxp132w/successbg2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>