<?xml version="1.0" encoding="utf-8"?>
<Media Key="12ab396b-ae87-4792-8d5b-17d9a5edde48" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="e30d7fe6-f452-4174-87d2-b303f26f7693">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:38:24</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tgcat2e2/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>