<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T16:02:19</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>