<?xml version="1.0" encoding="utf-8"?>
<Media Key="1da9d9ba-6eee-4e64-90bd-bb1070a6c687" Alias="Tina.svg (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Tinasvg2</Path>
    <Trashed Parent="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:22</CreateDate>
    <NodeName Default="Tina.svg (2)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jbsax55v/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>