<?xml version="1.0" encoding="utf-8"?>
<Media Key="c34e137c-7598-443a-98b8-6be286fd93e3" Alias="Tina.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Tinasvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T08:52:51</CreateDate>
    <NodeName Default="Tina.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r0xoyimd/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>