<?xml version="1.0" encoding="utf-8"?>
<Media Key="1da9d9ba-6eee-4e64-90bd-bb1070a6c687" Alias="Tina.svg" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:04:22</CreateDate>
    <NodeName Default="Tina.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jbsax55v/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>