<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5a1ac67-02d4-46ad-8166-6c14f56a111c" Alias="Tina.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Tinasvg1</Path>
    <Trashed Parent="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T08:53:29</CreateDate>
    <NodeName Default="Tina.svg (1)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/suibgb4p/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>