<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8d09c7c-f62a-46b6-9c0c-1e01f02360c9" Alias="Tina.svg (2)" Level="2">
  <Info>
    <Parent Key="0fd8a20f-d9b7-4cf4-8a01-f99560eea014">Team Members</Parent>
    <Path>/TeamMembers/Tinasvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T08:21:55</CreateDate>
    <NodeName Default="Tina.svg (2)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ryqhesrr/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>