<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d4eb312-0629-4677-929b-edc43115431f" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f317d368-9d86-4c57-8213-ad0ff1df5880"
    },
    {
      "contentElementTypeKey": "36292333-60c6-406d-a0be-efe50cd10a2f",
      "settingsElementTypeKey": "e0e31623-146b-430f-90e2-972c6e80bba5"
    },
    {
      "contentElementTypeKey": "f01d295b-1d7d-4f17-9c37-228306d34439"
    },
    {
      "contentElementTypeKey": "e4e88139-951f-464f-8495-8bc70a1f4cfd",
      "settingsElementTypeKey": "2d6fb02e-d75c-4e29-b4d8-a7ccb45def6e"
    },
    {
      "contentElementTypeKey": "41a65447-5447-4834-8491-fbd19cb38329",
      "settingsElementTypeKey": "426fdc63-8349-4fd7-8b28-2f37752de87f"
    },
    {
      "contentElementTypeKey": "8a4d5395-f0a2-491d-a945-88d3cbbecbb1"
    }
  ]
}]]></Config>
</DataType>