<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d4eb312-0629-4677-929b-edc43115431f" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f317d368-9d86-4c57-8213-ad0ff1df5880"
    },
    {
      "contentElementTypeKey": "36292333-60c6-406d-a0be-efe50cd10a2f",
      "settingsElementTypeKey": "e0e31623-146b-430f-90e2-972c6e80bba5"
    }
  ]
}]]></Config>
</DataType>