<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55991a5f-fef2-4d1e-9c92-84ad8e25bca1" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d8f90ffb-d53d-473e-bc06-ddd21ec15500"
    }
  ]
}]]></Config>
</DataType>