<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4200eda-e136-48e4-b780-13e8902598df" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "852ee4c4-677c-44d8-bbef-83ca2309e33d",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>