<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d500919-b308-443c-9836-465f393b4392" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0aa3de9d-d1c9-4865-b418-26daeca9472f",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>